{{#partial "content"}}

    {{#if editHero}}
        <strong><h4>Edit Hero</h4></strong>
        <form action="/heroes/{{editHero.id}}/update">
            <div class="form-group">
                <input type="text" class="form-control" name="name" id="name" value="{{editHero.name}}">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="age" id="age" value="{{editHero.age}}">
            </div>
            <div class="form-group">
                <select id="specialPowers" name="specialPowers" class="form-control">
                    <option value="{{editHero.specialPowers}}">Speed</option>
                    <option value="speed">Speed</option>
                    <option value="flying">Flying</option>
                    <option value="flaming">Flaming</option>
                    <option value="vampire">vampire</option>
                </select>
            </div>
            <div class="form-group">
                <select id="weakness" name="weakness" class="form-control">
                    <option value="{{editHero.weakness}}">water</option>
                    <option value="water">water</option>
                    <option value="stone">stone</option>
                    <option value="light">light</option>
                </select>
            </div>

    {{else}}
            <strong><h4>Add New Hero</h4></strong>
            <form action="/heroes/new" method="post">
                <div class="form-group">
                    <input type="text" placeholder="Hero Name" id="name" name="name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Age" name="age" id="age" class="form-control">
                </div>
                <div class="form-group">
                    <select id="specialPowers" name="specialPowers" class="form-control">
                        <option value="speed">Speed</option>
                        <option value="flying">Flying</option>
                        <option value="flaming">Flaming</option>
                        <option value="vampire">vampire</option>
                    </select>
                </div>
                <div class="form-group">
                    <select id="weakness" name="weakness" class="form-control">
                        <option value="water">water</option>
                        <option value="stone">stone</option>
                        <option value="light">light</option>
                    </select>
                </div>
            </form>

    {{/if}}
        <button type="submit" class="btn btn-success">Submit</button>

    </form>
{{/partial}}
{{>layout.hbs}}